/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom */

body {
  line-height: 1.5;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex2 {
  justify-content: space-around;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-48 {
  flex: 0 1 48%;
  margin-top: 36px;
}
.header ul li {
  margin-left: 32px;
}

.header {
  padding: 32px 0;
}
.section-header {
  background: linear-gradient(
      to right,
      rgba(18, 119, 228, 0.7),
      rgba(121, 235, 108, 0.7)
    ),
    url(./assets/home-bg.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  color: white;
  font-weight: 600;
}
h1 {
  font-size: 24px;
}
.anchor-tag a {
  margin-left: 32px;
  color: white;
}
.btn a {
  text-decoration: none;
  padding: 0 24px;
  margin: 24px 0;
  color: white;
}
.btn {
  text-align: center;
  background-color: #cf3732;
  border-radius: 24px;
  padding: 12px 0;
  margin-left: 32px;
}
.article-video {
  padding-top: 64px;
}
h2 {
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 32px;
}
.btn2 a {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 24px;
  padding: 12px 24px;
}
.btn2 {
  margin-right: 24px;
}
.flex3 {
  justify-content: flex-start;
}
p {
  font-size: 12px;
}
/* Indroduce */
.indroduce {
  background-color: #ffffff;
  padding-top: 64px;
}
.indroduce p {
  color: #808080;
  font-size: 14px;
  padding: 12px 0;
}
h3 {
  font-size: 24px;
  color: black;
  font-weight: 600;
}
img {
  width: 100%;
  height: 300px;
}

/* blog */

.blog {
  background-color: #efefef;
  padding: 48px 0;
}
.blog h3,
.box {
  text-align: center;
}
.blog-img {
  margin-right: 24px;
  height: 300px;
  object-fit: cover;
}
.blog-box1 {
  background-color: #ffffff;
}
h4 {
  font-size: 24px;
  font-weight: 500;
}
time {
  color: red;
}
h6 {
  color: #808080;
  padding-bottom: 32px;
}
.btn3 a {
  text-decoration: none;
  padding: 12px 24px;
  margin: 24px 0;
  background-color: #efefef;
  border-radius: 20px;
  color: black;
}

.blog2 {
  background-color: white;
}
.box2 {
  padding-bottom: 24px;
}
.work-img {
  width: 100%;
  margin-right: 24px;
}
.work-img2 {
  height: auto;
}

/* Contact */

.contact-header {
  text-align: center;
  color: #ffffff;
}
.section-contact {
  background: linear-gradient(
    to right,
    rgba(18, 119, 228, 1),
    rgba(121, 235, 108, 1)
  );
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  padding: 24px 0;
}
.flex5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  background-color: white;
  padding: 8px 0;
  width: 48%;
  padding-left: 12px;
  margin-right: 24px;
  margin-bottom: 24px;
  color: #808080;
}
.name2 {
  width: 94%;
  padding-bottom: 148px;
}

.map {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.col1 {
  width: 60%;
}
.send-btn {
  width: 30%;
  margin-left: 0;
}
.col2 {
  width: 40%;
  text-align: center;
}

/* Last article */

h5 {
  color: white;
  font-size: 32px;
  padding-bottom: 24px;
  vertical-align: middle;
}
.para,
li,
.home-address {
  color: #b0b1b0;
  font-size: 12px;
}
.last-article {
  background: linear-gradient(to right, rgb(59, 59, 59, 1), rgb(11, 11, 11, 1));
  padding: 128px 0;
  height: 250px;
}
.last-info {
  width: 40%;
}
.last-data {
  width: 20%;
}
hr {
  border: 1px solid rgba(59, 59, 59, 0.7);
}
.info {
  padding-bottom: 64px;
}

/* footer */

.footer {
  color: #b0b1b0;
  padding: 36px 0;
}
.footer a {
  color: #b0b1b0;
  text-decoration: none;
}
.footer-tag {
  margin-right: 64px;
}
.number {
  margin-right: 64px;
}
.footer-tag a {
  margin-right: 24px;
}
